<header>
  <nav>
    <ul>
      <li>
        <%= link_to "Upload de Arquivo", upload_transaction_file_index_path %>
      </li>
      <li>
        <%= link_to "Transações", transaction_index_path %>
      </li>
    </ul>
  </nav>
</header>